@charset "utf-8";

// Customization

// You can easily customize Bulma with your own variables.
// Just uncomment the following block to see the result.

/*
// 1. Import the initial variables
@import "../node_modules/bulma/sass/utilities/initial-variables";

// 2. Set your own initial variables
// Update the blue shade, used for links
$blue: #06bcef;
// Add pink and its invert
$pink: #ff8080;
$pink-invert: #fff;
// Update the sans-serif font family
$family-sans-serif: "Helvetica", "Arial", sans-serif;

// 3. Set the derived variables
// Use the new pink as the primary color
$primary: $pink;
$primary-invert: $pink-invert;

// 4. Import the rest of Bulma
*/

@import "../node_modules/bulma/bulma";
.header-image {
    background-image: url("https://lh3.googleusercontent.com/MJAMOK_70uBEwr4Ohd3ZDEidc5cJvVxTrDTwpjYEIxiEAzhhqvjqgcaNIhx6ba__k3P8lYeWEo5YwG5bxeedkyIW6JL9_w9TaAawPGMMavVkj7ylwV9Mux89b34dNN1_2cf3Det51gfFkFj5AwYfYQR6OUyPe7m-emurC22S4FTaIbyNdeLwt21p7nvZS2RVnyfXop5xXDapWJT5kPqNQ4fr4IC2hE_OpDXNjDpYqra-5hz9eVJVs7lqoDyhwCScoIaMIev3kgtrKjaE8AITWMMA7Z28GUa5p6k1JLIq8excIq6RBaMG4exWDpQwzGnPJnIyoInZjb-3ltj2jQd0oRsAZ8phxljsd-UYFTBuxk0IIh4qZ2_KT7os3C-soLGzw8l4lzOi-awig0NJtvTgq85a3KJHelXD1NxKnn0YAykF-g_iE-UFtNhgJeBYXQ0sFLHgYWxS8KpsQS15HAXZwYAp2hx_ndnOXA9dBGjsNJEJf542haTlSOh9GDUm1T3CANeQSX3xnqtNpeaMXHX98Zep5bTMqC8xmZlUbqoMlnK6c_7kiPRO4sKpD6vKbqPp2wABieU4PKnajXi-9Ur6NEBjkJ3Ox1xigsslXavp3FQEvCnKh1drP7EhDF9PtXFEkLc4sn9u8KFW2LtcMAZ_LbBDLxA4S2X3MxZx3uBQMyOXJMvXQJJdBV0T=w1920-h1080-no");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}

.castle-image {
    background-image: url("../assets/avully.jpg");
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-color: #999;
}
.darken-70 {
    background-color: rgba(0,0,0,0.7);
}
.darken-30 {
    background-color: rgba(0,0,0,0.3)!important;
}
.darken-20 {
    background-color: rgba(0,0,0,0.2);
}
.darken-10 {
    background-color: rgba(0,0,0,0.1);
}

.fancy {
    font-family: 'Great Vibes', cursive;
}

.heading-font {
    font-family: 'Tangerine', cursive;
    font-size: 50em;
}

.font-shadow {
    text-shadow: 2px 2px 4px #333;
}

.schedule img {
    max-height: 10vw;
}
.responsive-map{
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
    height:0;
}
.responsive-map iframe{
    left:0;
    top:0;
    height:100%;
    width:100%;
    position:absolute;
}

.top-margin {
    margin-top: 2rem;
}

.map {
    height: 450px;
}

.rsvp-en {
    height: 1186px;
}

.cards-max {
    max-width: 800px;
    margin: 0 auto;
}

.no-bottom-margin {
    margin-bottom: 0!important;
}

.section {
    padding-top: 4rem;
}